@font-face {
    font-family: planetKosmos;
    src: url(../CSS/fonts/planet_kosmos/PLANK___.TTF);
}

@font-face {
    font-family: glacialIndifference;
    src: url(../CSS/fonts/glacial-indifference/GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: glacialIndifferenceBold;
    src: url(../CSS/fonts/glacial-indifference/GlacialIndifference-Bold.otf);
}

strong {
    font-family: glacialIndifferenceBold;
}

.customPageBackground {
    background-image: url('../IMG/backgrounds/signupBackground.jpg');    background-size: cover;
    overflow-x: hidden;
}

/* Intro Animation */
.introScreen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loadingAnimation {
    width: 400px; 
    height: 400px;
    background-image: url('../IMG/essentials/loadingAnimation.gif'); 
    background-size: cover;
}

.hiddenContent {
    opacity: 0;
}

.showContent {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}

/* Navigation Bar - Logo Layer */
/* Logo & Name */
.navbar-brand {
    display: flex;
    align-items: center;
}

.logoLayer {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.validation {
    color: white !important;
    font-family: glacialIndifference !important;
    font-size: 14px !important;
    margin-top: 10px !important;
    text-align: center !important;
    text-align: left !important;
    opacity: 50% !important;
}

.logoPicture {
    width: 80px;
    height: auto;
    margin-right: 16px; 
}

.logoText {
    font-size: 50px;
    padding-top: 20px;
    color: white; 
    font-family: planetKosmos;
    margin-right: 40px;
    letter-spacing: 2px;
}

/* Search Bar */
.searchBar {
    display: flex;
    align-items: center;
    border: 1px solid white; 
    border-radius: 30px;
    padding: 5px 15px !important;
    background: transparent; 
    width: 95vw; 
    height: 40px;
    position: relative;
    margin-left: 5px;
}

/* Input Field */
.searchInput {
    border: none;
    background: transparent;
    outline: none;
    width: 100%;
    color: white;
    font-size: 16px;
    padding: 5px;
    font-family: glacialIndifference;
    font-size: 18px !important;
}

/* Search Button */
.searchButton {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
    position: absolute;
    right: 10px;
}

/* Search Button Icon */
.searchButton img {
    width: 25px;
    height: 25px;
}

/* Placeholder Color */
.searchInput::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Account Logo Placeholder */
.accountLogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px !important;
    opacity: 20%;
}

.accountLogo i {
    font-size: 32px; 
    color: white;
}

/* Hover effect */
.accountLogo:hover {
    size: 120% !important;
}


/* Navigation Bar - Options Layer */
.navigationBar {
    background-color: black;
    color: white;
    position: fixed;
    padding-top:20px;
    padding-left: 20px !important;
    font-family: glacialIndifferenceBold;
    font-size: 18px;
    letter-spacing: 3px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 100%);
    z-index: 500;
    height: 180px;
}

.navigationBar .nav-link {
    color: white;
    margin-right: 100px;
}

.nav-link.active {
    color: white !important;
}

.nav-link.active {
    color: white !important;
    text-shadow: 
        0 0 10px rgba(255, 255, 255),  
        0 0 15px rgba(255, 255, 255),  
        0 0 20px rgba(255, 255, 255);
    font-weight: bold;
}

.nav-link:hover {
    color: white !important;
    text-shadow: 
        0 0 10px rgba(255, 255, 255),  
        0 0 15px rgba(255, 255, 255),  
        0 0 20px rgba(255, 255, 255);
    font-weight: bold;
}

/* Icons Bar */
.iconsBar {
    font-size: 30px;
    margin-left: auto; 
    display: flex;
    align-items: center;
    gap: 15px; 
    
}

.navigationBar .nav-linkIcon {
    color: white;
    margin-right: 15px;
    line-height: 30px !important;
    display: inline-flex;
    align-items: start;
    gap: 5px;
    text-decoration: none !important;
}

.ju{
    gap: 6.5px !important;
}

.nav-linkIcon.active {
    color: white !important;
}

.nav-linkIcon.active {
    color: white !important;
    text-shadow: 
        0 0 10px rgba(255, 255, 255),  
        0 0 15px rgba(255, 255, 255),  
        0 0 20px rgba(255, 255, 255);
    font-weight: bold;
}

.nav-linkIcon:hover {
    color: white !important;
    text-shadow: 
        0 0 10px rgba(255, 255, 255),  
        0 0 15px rgba(255, 255, 255),  
        0 0 20px rgba(255, 255, 255);
    font-weight: bold;
}

.container {
    margin-top: 80px !important;
}

body {
    overflow: hidden !important;
}

/* Back Button */
.backButton {
    color: white !important;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: end;
}

/* Logo & Name */
.logo {
    display: flex;
    align-items: end;
    justify-content: flex-end;
    text-align: right;
}


.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}

/* Logo Layer */
.logo {
    display: flex;
    align-items: center;
}

.logoPicture {
    width: 80px;
    height: auto;
    margin-right: 16px; 
    animation: glowEffect 1.5s infinite alternate ease-in-out;
}

.logoText {
    font-size: 50px;
    color: white;
    font-family: planetKosmos;
    letter-spacing: 2px;
    white-space: nowrap;
    animation: glowEffect 1.5s infinite alternate ease-in-out;
}

/* Glow Animation */
@keyframes glowEffect {
    0% {
        filter: drop-shadow(0 0 5px white); 
    }
    100% {
        filter: drop-shadow(0 0 15px rgb(255, 255, 255));
    }
}

/* Title */
.title {
    color: white;
    font-family: glacialIndifferenceBold;
    font-size: 20px;
    margin-top: 10px;
}

/* Forms */
.form-label {
    display: block;
    text-align: right;
    font-weight: bold;
}

.form-group {
    text-align: right;
}

.form-control::placeholder {
    color: white !important;
    opacity: 50% !important;
}

.form-control:focus {
    border-color: white !important;
    box-shadow: 0 0 10px white !important;
    outline: none !important;
}

.plchldr {
    font-family: glacialIndifference;
    font-size: 18px !important;
    color: white !important;
    background-color: transparent !important;
    border: 2px solid white !important;
    border-radius: 0 !important;
}

/* Eye Logo */
.eye {
    color: white !important;
    border: 2px solid  white !important;
    border-radius: 0 !important;
}

/* Button */
.signupButton {
    font-size: 30px !important;
    padding: 0px 70px !important;
    letter-spacing: 2px !important;
    font-family: glacialIndifferenceBold !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 0 !important;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: 0.3s ease !important;
    font-weight:bold !important;
    margin-top: 20px;
    z-index: 20 !important;
}

.signupButton:hover {
    background: white !important;
    color: black !important;
}

/* Login Message */
.button {
    justify-content: flex-end;
    text-align: right;
}

.text {
    color: white;
    font-family: glacialIndifference;
    margin-top: 5px;
    text-align: end;
}

a {
    color: white !important;
    text-decoration: none !important;
}